@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/typography' as *;

.personalInfo {

    &-inputContainer {


        margin-bottom: 1rem;

        @include dt {
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, fit-content);
        }

        label {
            @include dt {
                align-self: flex-end;
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }

        div {
            margin-block: .25rem;
            visibility: hidden;

            @include dt {
                grid-row: 1/2;
                grid-column: 2/3;
                justify-self: flex-end;
                margin: 0;
            }
        }

        input {
            cursor: pointer;
            border: 1px solid $light-gray;
            min-height: 3rem;
            border-radius: .5rem;
            padding-left: 1rem;
            font-weight: $bold;
            color: $marine-blue;
            width: 100%;
            margin-top: .25rem;


            @include dt {
                grid-column: 1/3;
                border-radius: .5em;
                margin-top: .5rem;
            }


            &::placeholder {
                font-weight: $medium;
            }

            &:focus {
                outline: 2px solid $marine-blue;
                outline-offset: .25rem;
                border: 1px solid $purplish-blue;
            }

            &:hover {
                outline: 1px solid $purplish-blue;
            }
        }
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

input:invalid~div {
    display: block;
}

input:invalid[focused='true']~div {
    visibility: visible;
}

input:invalid[focused='true'] {
    border: 1px solid red;
}