@use '../abstracts/breakpoints' as *;

.steps {
    width: fit-content;


    @include dt {
        margin-left: 2rem;
    }

    &-text {
        display: none;

        @include dt {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            gap: .1rem;
        }
    }
}