@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/breakpoints' as *;

body {
    margin-bottom: 40%;

    @include dt {
        place-items: center;
        margin-bottom: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;

    @include dt {
        background-color: $white;
        padding: 1rem;
        border-radius: .625rem;
        flex-direction: row;
        width: min(57.75rem, 95vw);
        min-height: min(35.5rem, 100vh);
        margin-bottom: 0;

    }

    &-tabs {
        background-image: url('/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        min-height: 225px;
        padding-top: 2.5rem;

        @include dt {
            background-image: url('/bg-sidebar-desktop.svg');
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-width: 30%;
            border-radius: .625rem;
        }

        &-tab {
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            @include dt {
                flex-direction: column;
            }
        }
    }
}