@use './breakpoints' as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// font weights

$regular: 400;
$medium: 500;
$bold: 700;

// font-weight utilities

.fw-r {
    font-weight: $regular;
}

.fw-m {
    font-weight: $medium;
}

.fw-b {
    font-weight: $bold;
}

$fs-400: .85rem;
$fs-500: .9rem;
$fs-600: .95rem;
$fs-700: 1rem;
$fs-750: 1.25rem;
$fs-800: 2rem;

// font sizes  

.fs-400 {
    font-size: $fs-400;
}

.fs-500 {
    font-size: .95rem;

    @include dt {
        font-size: $fs-500;
    }
}

.fs-600 {
    font-size: $fs-600;
}

.fs-700 {
    font-size: $fs-700;
}

.fs-750 {
    font-size: $fs-750;
}

.fs-800 {
    font-size: 1.8rem;

    @include dt {
        font-size: $fs-800;
    }
}