@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/breakpoints' as *;

// Numbered circles

.numbered-circles {
    border: 2px solid $light-gray;
    border-radius: 50%;
    height: 2.25rem;
    aspect-ratio: 1;
    color: $white;
    display: grid;
    place-items: center;
    background-color: transparent;
}

.active {
    background-color: $light-blue;
    color: $purplish-blue;
    border: none;
}

// Buttons

.nextBtn {
    margin-left: auto;
    background-color: $marine-blue;
    color: $white;
    padding: .75rem 1rem;
    border: none;
    border-radius: .5rem;
    font-weight: $medium;
    cursor: pointer;

    &-confirm {
        margin-left: auto;
        background-color: hsl(243, 100%, 33%);
        color: $white;
        padding: .75rem 1rem;
        border: none;
        border-radius: .5rem;
        font-weight: $medium;
        cursor: pointer;

        &:hover {
            background-color: hsl(243, 100%, 80%);
        }

        &:focus-visible {
            outline: 2px solid $marine-blue;
            outline-offset: .25rem;
        }
    }

    @include dt {
        border-radius: .5rem;
    }

    &:focus-visible {
        outline: 2px solid $marine-blue;
        outline-offset: .25rem;
    }

    &:hover {
        background-color: hsl(213deg 60% 33%);
    }
}

.prevBtn {
    background-color: transparent;
    color: $cool-gray;
    padding: .75rem;
    border: none;
    border-radius: .25rem;
    font-weight: $bold;
    cursor: pointer;

    @include dt {
        margin-left: -1rem;
    }

    &:focus-visible {
        outline: 2px solid $marine-blue;

    }

    &:hover {
        color: $marine-blue;
    }
}

// Radio buttons

.radio {
    position: relative;
    min-width: 30%;
    min-height: fit-content;



    &-label {
        border-radius: .5em;
        border: 1px solid $light-gray;
        position: relative;
        background-repeat: no-repeat;
        background-position: 1rem 1rem;
        display: flex;
        cursor: pointer;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        padding: .5rem 0 1rem 5rem;

        @include dt {
            background-position: 1rem 1.25rem;
            padding: 6rem 0 1rem 1rem;

            &:hover {
                border-color: $purplish-blue;
            }
        }

        p {
            margin-top: .4rem;
        }

        &.arcade {
            background-image: url('/icon-arcade.svg');
        }

        &.advanced {
            background-image: url('/icon-advanced.svg');
        }

        &.pro {
            background-image: url('/icon-pro.svg');
        }
    }

    &-input {
        opacity: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
    }


}

.radio-input:checked+label {
    border-color: $purplish-blue;
    background-color: $alabaster;
}

.radio-input:focus-visible+label {
    outline: 2px solid $marine-blue;
    outline-offset: .2rem;
}

// Slider

.toggle {
    --width: 2.1875rem;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-flex;
    cursor: pointer;
    position: relative;

    &-input {
        opacity: 0;
        width: 100%;
        position: absolute;
    }

    &-fill {
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: (var(--border-radius));
        background-color: $marine-blue;
        margin-inline: 1rem;

        &::after {
            content: '';
            position: absolute;
            height: 65%;
            aspect-ratio: 1;
            background-color: $white;
            border-radius: var(--border-radius);
            top: 16.5%;
            left: 10%;
            transition: transform 0.2s;
        }
    }
}

.toggle-input:checked~.toggle-fill::after {
    transform: translateX(145%);
}

.toggle-input:focus-visible+.toggle-fill {
    outline: 2px solid $marine-blue;
    outline-offset: .25rem;
}

// Checkboxes

.checkbox {
    position: relative;
    width: 100%;
    min-height: fit-content;
    cursor: pointer;
    grid-template-rows: 50%;
    grid-template-columns: 15% 1fr 25%;
    border: 1px solid $light-gray;
    border-radius: .5em;
    padding-block: 1rem;
    row-gap: .2rem;
    background-color: transparent;
    position: relative;
    z-index: 2;

    @include dt {
        padding-block: 1.25rem;
    }

    &:hover,
    :focus {

        border-color: $purplish-blue;
    }

    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    span {
        display: none;

        @include dt {
            display: inline;
        }
    }

    &-service {
        position: relative;
        z-index: 2;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    &-description {
        position: relative;
        z-index: 2;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    &-cost {
        position: relative;
        z-index: 2;
        grid-row: 1/3;
        grid-column: 3/4;
        place-self: center;
    }

    input {
        position: relative;
        z-index: 2;
        grid-row: 1/3;
        grid-column: 1/2;
        cursor: pointer;
        place-self: center;
        accent-color: $purplish-blue;

        @include dt {
            height: 50%;
            aspect-ratio: 1;
        }
    }
}

.checkbox-input:checked+.checkbox-bg {
    background-color: $alabaster;
    border-radius: .5em;
    z-index: 1;
    border: 1px solid $purplish-blue;
}

.checkbox-input:focus-visible+.checkbox-bg {
    outline: 2px solid $marine-blue;
    border-radius: .5em;
    outline-offset: .2rem;

}

.checkbox-input:focus {
    outline: none;
}